body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
    margin: 0;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    font-size: 48px;
    margin: 20px 0;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #9915a2;
    color: #ffffff;
    cursor: pointer;
}

.buttons button:hover {
    background: #9800b3;
}